
<div class="row mt-5">
    <section class="col-sm-2 offset-sm-2">
        <div class="border bg-light p-3">
            <ul class="list-group list-group-flush">
                <li class="list-group-item list-group-item-action" routerLink="profile" routerLinkActive="active">Profile</li>
                <li class="list-group-item list-group-item-action" routerLink="privacy" routerLinkActive="active">Privacy</li>
                <li class="list-group-item list-group-item-action" routerLink="security" routerLinkActive="active">Security</li>
            </ul>
        </div>
    </section>
    <div class="col-sm-6">
        <router-outlet></router-outlet>
    </div>
</div>